@using SuggestionSystem.Business;
@model SuggestionSystem.BaseSystemModel.Model.DTO.SuggestionAllDTO
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<style>
    .suggestionList {
        clear: both;
        /*padding:10px;
         margin:10px;*/
    }
</style>


<div class="row">
    <div class="col-xs-2">
        @if (AccessBiz.UserHasAccess("10"))
        {
            <button type="button" class="btn btn-default">پیشنهادات</button>
        }

    </div>
    <div class="col-xs-10">

        @if (AccessBiz.UserHasAccess("10"))
        {

            <div id="suggestion">

                @if (AccessBiz.UserHasAccess("10-01"))
                {
                    @Html.ActionLink("ایجاد پیشنهاد", "Create")
                }

                @if (AccessBiz.UserHasAccess("10-02"))
                {


                <table class="suggestionList">
                    <tr>
                        <th>
                            <label>@SuggestionSystem.BaseSystemModel.Common.Message.CodePeygiri</label>
                        </th>
                        <th>
                            <label>@SuggestionSystem.BaseSystemModel.Common.Message.Onvan</label>
                        </th>
                        <th>
                            <label>@SuggestionSystem.BaseSystemModel.Common.Message.Vaziat</label>
                        </th>

                        <th>
                            <label>@SuggestionSystem.BaseSystemModel.Common.Message.Namayesh</label>
                        </th>
                        @if (AccessBiz.UserHasAccess("10-03"))
                        {
                            <th>
                                <label>@SuggestionSystem.BaseSystemModel.Common.Message.Virayesh</label>
                            </th>
                        }
                        @if (AccessBiz.UserHasAccess("10-04"))
                        {
                            <th>
                                <label>@SuggestionSystem.BaseSystemModel.Common.Message.ErsaleNazar</label>
                            </th>
                        }
                        @if (AccessBiz.UserHasAccess("10-05"))
                        {
                            <th>
                                <label>@SuggestionSystem.BaseSystemModel.Common.Message.ListNazarat</label>
                            </th>
                        }
                    </tr>
                    @foreach (var item in Model.Suggestion_Created)
                    {
                <tr>
                    <td>
                        <label>
                            @item.Id
                        </label>
                    </td>
                    <td>
                        <label>
                            @item.Title
                        </label>
                    </td>
                    <td>
                        <label>
                            @item.Status
                        </label>
                    </td>
                    <td>
                       
                            @Html.ActionLink(@SuggestionSystem.BaseSystemModel.Common.Message.Namayesh, "Details",new { id=item.Id })
                       
                    </td>
                    @if (AccessBiz.UserHasAccess("10-03"))
                    {
                        <td>
                                @Html.ActionLink(@SuggestionSystem.BaseSystemModel.Common.Message.Namayesh, "Edit", new { id=item.Id })
                        </td>
                    }
                    @if (AccessBiz.UserHasAccess("10-04"))
                    {
                        <td>
                            <button type="button" onclick="AddComment()">@SuggestionSystem.BaseSystemModel.Common.Message.ErsaleNazar</button>
                        </td>
                    }
                    @if (AccessBiz.UserHasAccess("10-05"))
                    {
                        <td>
                            <button type="button" onclick="ShowCommentList()">@SuggestionSystem.BaseSystemModel.Common.Message.ListNazarat</button>
                        </td>
                    }
                </tr>
                    }
                </table>
                    
                }

            </div>
        }


    </div>
</div>

